<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.CafeMapper">

	<select id="selectCafeinfoOnlyCafeTb" resultType="vo.CafeVo">
		select id name,
		addr, lat, lng from cafe_tb
	</select>

	<select id="selectCafeinfo" resultType="vo.CafeVo">
		select brand as "id",
		name, addr, lat, lng from cafe_tb left join cafeinfo_tb on cafe_tb.id
		= cafeinfo_tb.id
	</select>

	<select id="selectCafeGuLoc" parameterType="string" resultType="vo.CafeVo">
		select id, name, addr, lat, lng
		from cafe_tb where addr
		like
		'%'||#{gu}||'%'
	</select>

	<select id="selectCafeGuLoc2" parameterType="string" resultType="vo.CafeVo">
		select brand as "id", name, addr, lat, lng
		from cafe_tb
		left
		join cafeinfo_tb
		on cafe_tb.id = cafeinfo_tb.id
		where addr
		like
		'%'||#{gu}||'%'
	</select>

	<select id="selectCafeIn500" parameterType="string" resultType="vo.CircleVo">
		SELECT distinct on(apt.name) apt.no as aptno, apt.name as aptname , apt.lat as aptlat,
		apt.lng as aptlng
		FROM apt_tb apt, cafe_tb cat where apt.gu like '강남구' and
		ST_DWithin(apt.geom, cat.geom, 500, false)
		intersect
		SELECT distinct on(apt.name) apt.no as aptno, apt.name as aptname , apt.lat as aptlat,
		apt.lng as aptlng
		FROM apt_tb apt, station_tb cat where apt.gu like '강남구' and
		ST_DWithin(apt.geom, cat.geom, 500, false)
	</select>

</mapper>
	

